.ie_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:60%;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}

.ie_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ie_container {
    padding: 2px 16px;

}
h2{
    color:back;
    text-align: center;
    margin-top:30px;
}
p{
    color:black;
}