
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
    margin-top:30px;
  }
  .company {
    margin: 20px;
    text-align: center;
  }
  .company img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .company p {
    font-size: 16px;
  }