<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <style>
        /* Add your CSS styles here */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1>Student Details</h1>
    
    <table>
        <thead>
            <tr>
                <th>Reg. No</th>
                <th>Name</th>
                <th>Email</th>
                <th>CGPA</th>
                <th>Batch</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>{{ profile.username }}</td>
                <td>{{ profile.name }}</td>
                <td>{{ profile.email }}</td>
                <td>{{ profile.cgpa }}</td>
                <td>{{ profile.batch }}</td>
                <td>{{ profile.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
